@import 'fonts.css';

body {
    background: grey;
    font-family: 'Open Sans Semibold';

}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: #fff;
    padding: 20px 0;
    color: #212121; 
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-size: 20px;
    color: #212121; 
}

.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}

/*Шапка*/

.header >div {
    color: white;
    padding: 180px 0;
    text-align: center;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(../img/header.png);
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.button__empty {
    background: transparent;
    border: 2px solid white;
}

.button__full {
    background: #00897b;
    border: 2px solid #00897b;
}

.button__empty:hover,
.button__full:hover {
    border: 2px solid white;
    background: #055c53;

}